@(count: InitForm)

@main("Tournament Manager") {

    <form action="@routes.Application.initTnG()" method="post">
    	<div class="form-group">
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-md-12">
        			<table class="table">
            			<thead>
              				<tr>
                				<th>Groups</th>
              				</tr>
            			</thead>
            			<tbody>
            			@for(i <- 0 until count.groups) {
              				<tr>
               	 				<td>
                					<div id ="changeColorWhite" class="input-group">
            							<b>Name of Group @{i+1}</b>
									</div>
								</td>
                				<td>
                					<div class="input-group">
  										<input name="groups[@i]" type="text" placeholder="Group Name" aria-describedby="basic-addon2">}
									</div>
								</td>
              				</tr>
            			</tbody>
          			</table>
        		</div>
    		</div>
    		<div class="row">
    			<div class="col-md-12">
        			<table class="table">
            			<thead>
              				<tr>
                				<th>Teams</th>
              				</tr>
            			</thead>
            			<tbody>
            			@for(i <- 0 until count.teams) {
              				<tr>
               	 				<td>
                					<div id ="changeColorWhite" class="input-group">
            							<b>Name of Team @{i+1}</b>
									</div>
								</td>
                				<td>
                					<div class="input-group">
  										<input name="teams[@i]" type="text" placeholder="Team Name" aria-describedby="basic-addon2">}
									</div>
								</td>
              				</tr>
            			</tbody>
          			</table>
        		</div>
    	</div>
    	</div>
		<button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>

}
